/* Общие стили */
.home-container {
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 16px;
  font-family: Arial, sans-serif;
  max-width: 400px;
  margin: auto;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  color: var(--text-color);
  font-size: 1.5em;
  font-weight: bold;
}

.header p {
  color: var(--hint-color);
  margin-bottom: 16px;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.publish-btn, .look-work-btn {
  background-color: var(--button-color);
  color: var(--button-text-color);
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 1em;
  cursor: pointer;
  flex: 1;
  text-align: center;
}

/* Стили для поля поиска и иконки фильтра */
.search-filter {
  position: relative;
  margin-bottom: 16px;
}

.search-container {
  display: flex;
  align-items: center;
  position: relative;
}

.search-container input {
  width: 100%;
  padding: 10px;
  padding-right: 40px; /* Отступ справа для иконки */
  border: 1px solid var(--divider-color);
  border-radius: 8px;
}

.filter-icon {
  position: absolute;
  right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

/* Выпадающее меню с фильтрами */
.category-filters {
  display: flex;
  gap: 8px;
  margin-top: 8px;
  justify-content: center;
  padding: 8px;
  background-color: var(--secondary-bg-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.filter-button {
  background-color: var(--secondary-bg-color);
  color: var(--text-color);
  padding: 6px 12px;
  border: 1px solid var(--divider-color);
  border-radius: 16px;
  font-size: 0.9em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filter-button.active {
  background-color: var(--button-color);
  color: var(--button-text-color);
}

.filter-button:hover {
  background-color: var(--outline-color);
}

/* Секция проектов */
.projects-section {
  border-top: 1px solid var(--divider-color);
  padding-top: 20px;
}

.projects-section h2 {
  text-align: center;
  font-size: 1.2em;
  color: var(--section-header-text-color);
  margin-bottom: 20px;
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.project-card {
  background-color: var(--card-bg-color);
  color: var(--text-color);
  border: 1px solid var(--divider-color);
  padding: 16px;
  border-radius: 8px;
  width: 150px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-card h3 {
  font-size: 1em;
  margin: 0;
  margin-bottom: 8px;
  color: var(--text-color);
}

.project-card p {
  margin: 0;
  color: var(--link-color);
  font-weight: bold;
}
